In [1]:
## Automated EDA Techniques

In [2]:
import pandas_profiling

In [4]:
import seaborn as sns
df = sns.load_dataset('tips')

In [5]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df,explorative=True,dark_mode=True)

In [7]:
profile.to_file('output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### dtale

In [8]:
import pandas as pd
import dtale

In [9]:
dtale.show(df)

C:\Users\PC1\AppData\Local\Programs\Python\Python310\lib\site-packages\dtale\views.py:746: FutureWarning:

['sex', 'smoker', 'day', 'time'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.